<h3>Sign In</h3>

<form action="/admin" method="POST">

    <label for="name"><b>Username</b></label>
    <input type="text" name="name" placeholder="Enter Username" id="">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password" id="">
    
    <input type="submit" value="Login" class="btn">
</form>

<!-- 
<h3>Register</h3>

<form action="/register" method="POST">

    <label for="name"><b>Username</b></label>
    <input type="text" name="name" placeholder="Enter Username" id="">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password" id="">
    
    <input type="submit" value="Register" class="btn">
</form> -->