<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/" class="home">Home</a>
        </li>
        <li>
          <a href="/about" class="about">About</a>
        </li>
        <li>
          <a href="/contact" class="Contact">Contact</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <a href="/logout" >
        Log Out
      </a>
    </div>
  
  </header>