<h2>Contact Us</h2>

<form >
    <label for="email" ><b>Email</b></label>
    <input  type="email" placeholder="Email" name="email">

    <label for="Message"><b>Message</b></label>
    <textarea name="Message" id="" cols="50" rows="10"></textarea> 
    
    <input onclick="showAlert()" type="submit" value="Submit" class="btn">
</form>

<script>
    function showAlert() {
        alert("Response submitted Successfully");
    }
</script>